---
interface Props {
  title: string;
  theater: string;
  time: string;
  price: string;
  rating: string;
}

const { title, theater, time, price, rating } = Astro.props;

/**
 * Format a date string as a human-readable date.
 * @param {string} dateString - The date string to format.
 * @returns {string} The formatted date string.
 */
const formatDate = (dateString: string | null | undefined): string | null => {
  if (!dateString) return null;

  const [year, month] = dateString.split("-");
  if (!year || !month) return null;

  const date = new Date(Number(year), Number(month) - 1); // Month is 0-indexed
  return new Intl.DateTimeFormat("en-US", {
    year: "numeric",
    month: "long",
  }).format(date);
};
---

<div class="relative h-full text-black bg-blue rounded-md">
  <div class="flex flex-col justify-between h-full">
    <div class="grid p-1">
      {
        title && (
          <h3 class="p-0 text-balance border-b-2 border-solid border-gray">
            {title}
          </h3>
        )
      }

      {
        theater && (
          <small class="-order-1">
            <span class="sr-only">Ticket purchased at</span>
            {theater}
            <span aria-hidden="true">Presenting</span>
          </small>
        )
      }

      <ul class="flex items-center justify-between">
        {
          time && (
            <li>
              <span class="sr-only">Ticket purchased on</span>
              <time datetime={formatDate(time)}>{time}</time>
            </li>
          )
        }

        {
          price && (
            <li>
              <span class="sr-only">The ticket cost</span>
              <small class="ticket__price">${price}</small>
            </li>
          )
        }

        {
          rating && (
            <li class="border-2 border-solid border-gray">
              <span class="sr-only">The movie is rated</span>
              {rating}
            </li>
          )
        }
      </ul>
    </div>
  </div>
</div>
